.gray-header {
  padding: 30px 0 10px 0;
  color: #999; }
  .gray-header__no-top-p {
    padding: 30px 0 10px 0;
    padding-top: 0;
    color: #999; }
  .gray-header__heading {
    font: normal 22px Roboto;
    margin: 0; }
  .gray-header__under {
    height: auto;
    border-bottom: 2px solid #d5d7d8; }
    .gray-header__under-heading {
      color: #999;
      font-size: 20px;
      display: inline;
      font-weight: normal;
      line-height: 30px; }
  .gray-header__contact {
    font-size: 24px;
    color: #000;
    padding: 0 0 36px;
    margin: 0; }
  .gray-header__faq {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    font-weight: 300; }
  .gray-header__top50 {
    color: #999;
    font-size: 18px;
    display: block;
    font-family: Roboto; }
